<config platform="project" template="project (default)">Created: Sun Oct 19 11:11:16 2014
By: Michiel
Using Template: project (default)

&lt;description to go here>
<option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="MVSStage4"/>
    <option fromDef="true" name="caption" value="MVSStage4"/>
    <option fromDef="true" name="provider" value="Michiel"/>
    <option fromDef="true" name="copyright" value="(C) Michiel"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
